<h1 class="text-info">Lista de productos</h1>
<div class="w-50 mx-auto">
        <div>
                <button class="btn btn-primary my-4" routerLink="/agregar">Agregar Producto</button>
        </div>
        @if (productosArray().length === 0) {
        <div class="skeleton">
                <div class="skeleton-row shimmer"></div>
                <div class="skeleton-row shimmer"></div>
                <div class="skeleton-row shimmer"></div>
                <div class="skeleton-row shimmer"></div>
        </div>
        }
        <ul class="list-group fade-in">
                @for (productoItem of productosArray(); track productoItem.key) {
                <app-productos [producto]="productoItem" [key]="productoItem.key" />
                }
        </ul>
</div>